<ion-view view-title="Home">
  <ion-content>
    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="tab.home-programme-overview">
        <img src="http://www.placehold.it/250x250">
        <h2>Programme Overview</h2>
        <p>Learn About The Programme</p>
      </a>

      <a class="item item-thumbnail-left" ui-sref="tab.home-location">
        <img src="http://www.placehold.it/250x250">
        <h2>Training Locations</h2>
        <p>Find a Training Centre Near You</p>
      </a>
      
      <a class="item item-thumbnail-left" ui-sref="tab.home-gallery">
        <img src="http://www.placehold.it/250x250">
        <h2>Gallery</h2>
        <p>Tap Here To View Pictures</p>
      </a>

      <a class="item item-thumbnail-left">
        <img src="http://www.placehold.it/250x250">
        <h2>FAQs</h2>
        <p>Frequently Asked Questions</p>
      </a>

    </div>
  </ion-content>
</ion-view>
