<ion-view view-title="Community">
  <ion-content ng-init="loadQuestions();loadUsers();">

    <!-- list of questions in the community -->
    <div class="list">

      <a ng-repeat="question in questions" class="item item-avatar" href="#">
        <img ng-src="{{users[question.by].image}}">
        <h2>{{users[question.by].name}} asked: </h2>
        <p>{{question.text}}</p>
        <p>Replies: {{question.totalReplies}} </p>
      </a>

    </div>

    <div class="padding">
      <button class="button button-block button-positive" ui-sref="tab.community-ask-a-question">
        Ask a Question
      </button>
    </div>
  </ion-content>
</ion-view>
